extends layout

block content
  .container
    h1= title
    p Pick a winner every week and we'll take you higher
    h2 Week #{currentWeek}
    form
      select(name = "teamsDropdown")
        each item in teams
          option(value= item.name)= item.name
