extends layout

block content
  .container
    h1= title
    p Pick a winner every week and we'll take you higher
    form
      select(name = "teamsDropdown")
        each item in teams
          option(value= item)= item
